.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    text-align: center;
    
}
.meetContainer{
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    gap: 10vw;
    justify-content: center;
}
.leftPanel{
    display: flex;
    align-items: center;
    left: 5rem;
}
.rightPanel{
    display: flex;
    align-items: center;
}
.rightPanel > img{
    width: 40vw;
    height: auto;
    border-radius: 20px;
}